@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .inbox {
        color: grey;


    }




    .menu_item {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .gear {
        color: grey;




    }
}